<div class="nav header">
<ul class="nav">
<li class="nav"><a class="nav plain" href="{{ site.url }}/"><span xmlns:cc="https://creativecommons.org/ns#" property="cc:attributionName">Akos Kokai</span></a></li>
<li class="nav"><a class="nav menu" href="{{ site.url }}/posts/">Posts</a></li>
<li class="nav"><a class="nav menu" href="{{ site.url }}/research/">Research</a></li>
<li class="nav"><a class="nav menu" href="{{ site.url }}/consulting/">Consulting</a></li>
<li class="nav"><a class="nav menu" href="{{ site.url }}/about/">About</a></li>
</ul>
</div>