<div class="nav header">
<ul class="nav">
<li class="nav"><a class="nav home" href="{{ site.baseurl }}/"><span xmlns:cc="https://creativecommons.org/ns#" property="cc:attributionName">Akos Kokai</span></a></li>
<li class="nav menu-begin"><a class="nav" href="{{ site.baseurl }}/posts/">Posts</a></li>
<li class="nav"><a class="nav" href="{{ site.baseurl }}/research/">Research</a></li>
<li class="nav"><a class="nav" href="{{ site.baseurl }}/consulting/">Consulting</a></li>
<li class="nav"><a class="nav" href="{{ site.baseurl }}/about/">About</a></li>
</ul>
</div>