<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/main.css">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/icon.png">
<link rel="schema.DC" href="https://purl.org/dc/elements/1.1/">
<meta name="DC.title" content="{{ page.title }}">
<meta name="DC.creator" content="Akos Kokai">
<meta name="DC.date" content="{% if page.date %}{{ page.date | date: '%F' }}{% else %}{{ site.time | date: '%F' }}{% endif %}">
<meta name="DC.type" content="Text">
<meta name="DC.format" content="text/html">
<meta name="DC.language" content="en">
<meta name="DC.rights" content="Copyright {% if page.date %}{{ page.date | date: '%Y' }}{% else %}{{ site.time | date: '%Y' }}{% endif %} Akos Kokai. Some rights reserved.">
<meta name="DC.license" content="Creative Commons Attribution 4.0 International License">